<div [ngClass]="[
    'flex', 'flex-col', 'items-center',
    loginState.value === 'success' ? 'cursor-pointer' : '',
]" (click)="openExplorer()">

  <div class="text-lg">History</div>
  <div class="text-xs">~{{tokens$ | async}} tokens, $ {{cost$ | async}}</div>

  <div *ngIf="(loginState | async) == 'success'" class="flex text-xs space-x-1">
    <div>{{ (firebaseState | async)!.settings.email }}</div>
  </div>

  <div *ngIf="(loginState | async) != 'success'" class="flex text-xs space-x-1 text-orange-600">
    <div>Not logged in</div>
  </div>

</div>