@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
}

.diff-added { @apply italic; font-style: italic;  }
.diff-removed { @apply line-through; text-decoration: line-through; }
